/* src/App.css o cualquier archivo CSS global */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/App.css o cualquier archivo CSS que estés usando */
.alkatra-custom {
  font-family: 'Alkatra', serif;  /* tamano de la letra 48  */
  
  
}

.amaranth-bold {
  font-family: "Amaranth", serif;  
}


.pagincentre{
  text-align: center;
}


.text-spacing {
  letter-spacing: 20px; /* Ajusta el valor según tus necesidades */

}

.margin 
{
  margin-top: 50px;
}


.letra{
  font-size: 48px;
}

.letra1{
  font-size: 70px;
}

.dimension{
  width: 442px;
  height: 55px;
}
